body{
  background-color: #A5C9CA;}

hr{
border-style:none;
border-top:dotted;
border-color:#0F3D3E;
border-width:5px;
Width:8%}

h1{color:#61481C;font-family: "Lucida Bright";}

h3{color:#A47E3B; font-family: Consolas;}

a:hover{font-family:sans-serif; color: red;

}
